{% extends 'mysite/base.html' %}

{% block title %} Обо мне {% endblock %}

{% block content %}
<section class="about-section">
    <div class="about-content">
        <img src="/static/images/about2.png" alt="Фото" class="about-photo">
        <div class="experience-section">
            <h3 class="experience-title">Опытный технический специалист с 9+ лет в IT</h3>
            <ul class="experience-list">
                <li class="experience-item">
                    <span class="experience-icon">🔧</span>
                    Эксперт в настройке, ремонте и обслуживании компьютерной техники
                </li>
                <li class="experience-item">
                    <span class="experience-icon">📡</span>
                    Специалист по установке и сопровождению телекоммуникационного оборудования
                </li>
                <li class="experience-item">
                    <span class="experience-icon">💻</span>
                    Навыки программирования и веб-разработки на Python
                </li>
                <li class="experience-item">
                    <span class="experience-icon">🎨</span>
                    В свободное время изучаю новые инструменты для веб-разработки и совершенствую навыки в дизайне
                    интерфейсов
                </li>
                <li class="experience-item">
                    <span class="experience-icon">🌟</span>
                    Ответственный и коммуникабельный профессионал
                </li>
                <li class="experience-item">
                    <span class="experience-icon">🚀</span>
                    Способен быстро находить решения в нестандартных ситуациях
                </li>
            </ul>
            <div class="work-link">
                <span><b>Мой профиль на </b></span>
                <a href="https://rabota.by/resume/c93a9b66ff0375768d0039ed1f36516131757a" target="_blank" rel="noopener noreferrer">
                    <img src="https://i.rabota.by/images/logos/svg/rabota.by.svg?v=29012024" alt="rabota.by" width="120">
                </a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
