{% extends 'mysite/base.html' %}

{% block title %} О себе {% endblock %}

{% block content %}
<h1>О себе</h1>
<div class="landing">
    <div class="text-center">
        <img src="/static/images/about-foto.jpg" alt="Ваше фото" class="profile-img">
        <p>
            Опытный технический специалист с 9+ лет в IT и техническом обслуживании. Эксперт в настройке,
            ремонте и обслуживании компьютерной техники, а также в установке и сопровождении телекоммуникационного
            оборудования. Обладаю навыками программирования и веб-разработки на Python. Ответственный,
            коммуникабельный, умею быстро находить решения в нестандартных ситуациях.
        </p>
         <p>
             В свободное время я изучаю новые инструменты для веб-разработки и совершенствую свои навыки в дизайне интерфейсов.
         </p>
    </div>
</div>
{% endblock %}
