{% extends 'mysite/base.html' %}

{% block title %}Контакты{% endblock %}

{% block content %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<h1>Контакты</h1>
<section id="contact" class="contact-section">
    <div class="container">
        <h2>Свяжитесь со мной</h2>
        <p>Оставьте свои данные, и я обязательно вам отвечу!</p>
        <form method="post" action="" class="contact-form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Ваше имя" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Ваш Email" required>
            </div>
            <div class="form-group">
                <textarea name="message" class="form-control" placeholder="Ваше сообщение" rows="5" required></textarea>
            </div>

            <!-- Кнопка с reCAPTCHA -->
            <div class="g-recaptcha" data-sitekey="{{ recaptcha_site_key }}"></div>
            <button type="submit" class="btn btn-primary">Отправить</button>

            <input type="hidden" name="g-recaptcha-response" id="recaptchaResponse">
        </form>
    </div>
</section>

<!-- Подключение Google reCAPTCHA -->
<script src="https://www.google.com/recaptcha/api.js" async defer></script>


<!--<section id="contact" class="contact-section">
    <div class="container">
        <h2>Свяжитесь со мной</h2>
        <p>Оставьте свои данные, и я обязательно вам отвечу!</p>
        <form method="post" action="" class="contact-form">

            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Ваше имя" required>
            </div>
            <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Ваш Email" required>
            </div>
            <div class="form-group">
                <textarea name="message" class="form-control" placeholder="Ваше сообщение" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Отправить</button>
        </form>
    </div>
</section>
-->
<p>
    <a href="/static/files/resume.pdf" download class="btn btn-primary fixed-btn">
        <i class="fas fa-download"></i> Скачать резюме (PDF, 250 KB)
    </a>
</p>

<div class="social-column">
    <a href="https://github.com/AndreiParmon " target="_blank">
        <img src="/static/images/github-icon.png" alt="GitHub" class="social-icon">
    </a>
    <a href="https://www.linkedin.com/in/andrei-parmon-2845a0354/" target="_blank">
        <img src="/static/images/linkedin-icon.png" alt="LinkedIn" class="social-icon">
    </a>
    <a href="https://www.instagram.com/andrei_parmon/" target="_blank">
        <img src="/static/images/instagram-icon.png" alt="Instagram" class="social-icon">
    </a>
</div>
{% endblock %}
