{% extends 'mysite/base.html' %}

{% block title %}Визитная карточка{% endblock %}

{% block content %}
<section class="home">
    <div class="profile-section">
        <div class="home-content">
            <h1><b>Привет!</b></h1>
            <h1><b>Меня зовут Андрей</b></h1>
            <p>Я веб-разработчик, создающий современные и адаптивные сайты.</p>
            <p>Добро пожаловать на мой сайт!</p>
        </div>
        <img src="/static/images/avatar.png" alt="Профильное фото" class="profile-img">
    </div>
</section>
{% endblock %}
